<footer class="footer">
  <div class="content has-text-centered">
    <p class="footer-links">
      [<a href="/index.html">Many Other Topics</a>] [<a href="/daily-quotes.html">Daily Quotes</a>] [<a href="/facebook.html">Bless & Be Blessed by Facebook</a>] [<a href="/email.html">E-Mail Me</a>] [<a href="/truth.html">My Shame</a>]
    </p>
    <p>Not to be sold. © Copyright, Grantley Morris, 2019. For much more by the same author, see www.net-burst.net</p>
    <p>No part of these writings may be copied without citing this entire paragraph.</p>
    <img src="/images/logo50.gif" alt="logo"></img>
  </div>
</footer>
