<!DOCTYPE html>
<html>
  <head>
    {% include head %}
    
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="css/home-header.css"/>
    <link rel="stylesheet" href="css/md.css"/>
    <link rel="stylesheet" href="css/nav.css"/>
  </head>
  <body>
    {% include home-header %}
    <div class="columns">
      <div class="column is-one-quarter-desktop is-one-quarter-tablet">
        {% include nav %}
      </div>
      <div class="column is-three-quarters-desktop is-three-quarters-tablet">
        <div class="content md">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer %}
  </body>
</html>
