<section class="hero">
  <div class="hero-body nbheader">
    <div class="container center"> 
      <img src="./images/logo50.jpg" WIDTH=142 HEIGHT=97 ALT="[logo]" align=middle><br>
      <h2 class="subtitle nbname">Net-burst.Net</h2>
      <h1 class="title">A Spiritual Treasure Trove</h1>
      <h2 class="subtitle nbdesc">Hundreds of Top-Quality Christian Webpages</h2><P>
      <p class="adjectives"><span>Comforting, </span><span>Challenging, </span><span>Entertaining, </span><span>Information-Rich, </span><span>Inspirational, </span><span>Bible-Based </span></p>
      <h3 class="the-quest">THE QUEST:</h3>
      <p class="the-quest">Webpages sparkling with the beauty of God<br>
      and throbbing with his love;<br>
      pages teeming with encouragement<br>
      and gleaming with eternal joy<br>
      </p>
    </div>
  </div>
</section>
