
<aside class="menu homeNav">
  <p class="menu-label">
    Main
  </p>
  <ul class="menu-list">
    <li><a href="./knowgod.html">Knowing God’s Heart</a></li>
    <li><a href="./search.html#search">Search</a></li>
  </ul>
  <p class="menu-label">
    Resources
  </p>
  <ul class="menu-list">
    <li><a href="./languages/index.html">Other Languages</a></li>
    <li><a href="./books.html">On-Line Books</a></li>
    <li><a href="./audio-book/index.html">Audio Books</a></li>
  </ul>
  <p class="menu-label">
    About
  </p>
  <ul class="menu-list">
    <li><a href="./netburst.html">What is <i>Net-Burst.Net?</i></a></li>
    <li><a href="./version.html">Bible Version</a></li>
    <li><a href="./beliefs.html"><i>Net-Burst.Net</i> Beliefs</a></li>
    <li><a href="./free.html">Why No Charge?</a></li>
    <li><a href="./famous.html">Citing Famous Christians</a></li>
    <li><a href="./used.html">Divinely Used?</a></li>
    <li><a href="./grantley.html">My Quirks</a></li>
    <li><a href="./truth.html">My Spiritual Limitations</a></li>
    <li><a href="./pinnacle.html">How I Write</a></li>
  </ul>
  <p class="menu-label">
    Contact
  </p>
  <ul class="menu-list">
    <li><a href="./pray/join.html">Join our Ministry Team</a></li>
    <li><a href="email.html">E-Mail Me</a><p></li>
    <li><a href="facebook.html"><img src="./images/facebook.gif"><span>Facebook</span></a></li>
  </ul>
</aside>
