.hero-body.nbheader {
  .container.center {
    h1, h2, h3, p {
      text-align: center;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    .subtitle {
      font-size: xx-large;
      font-weight: bold;
      &.nbname {
        color: #6699cc;
      }
      &.nbdesc {
        color: #006699;
      }
    }
    .title {
      font-family: auto;
      color: #0066cc;
      font-size: xxx-large;
      font-style: italic;
    }
    .adjectives {
      font-weight: bold;
      font-family: auto;
      font-size: large;
      font-style: italic;
      span {
        &:first-child {
          color: #003366;
        }
        &:nth-child(2) {
          color: #003399;
        }
        &:nth-child(3) {
          color: #006699;
        }
        &:nth-child(4) {
          color: #0066cc;
        }
        &:nth-child(5) {
          color: #0099cc;
        }
        &:nth-child(6) {
          color: #0099ff;
        }
        &:nth-child(7) {
          color: #000099;
        }
      }
    }
    .the-quest {
      color: #000099;
      font-weight: bold;
      font-size: large;
    }
    p.the-quest {
      font-style: italic;

    }
  }
}
