.nbhomepage .content, .nbarticle .content {
  font-size: 18px;
  img {
    display: block;
    margin: 0 auto;
  }
  ol {
    li {
      p {
        // Homepage margin in list at bottom of page, the <p> tags
        // are too close to the next <ol><li>, need some help spacing
        margin-bottom: 1em;
      }
    }
  }

  .links {
    span {
      font-weight: bold;
      color: #0066cc;
      display: inline-block;
      font-size: xx-large;
    }

    text-align: center;
  }

  blockquote {
    background-color: white;
    border: none;
  }

  a {
    text-decoration: revert;
    color: revert;
  }
}
