.menu.homeNav {
  padding: 10px;
  background-color: #3366cc;
  
  .menu-label {
    color: lightgray;
    text-transform: capitalize;
    font-size: inherit;
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
    &:not(:first-child) {
      margin-top: 0.5em;
    }
  }

  .menu-list {
    a {
      padding: 0.35rem 0.6rem;

      &:hover {
        background-color: #24478f;
        color: #ffffff;
      }
      img {
        height: 1em;
        padding-right: 5px;
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
      }
      color: #ffffff;
    }
  }
}


.hover-nav {
  display: none;
}

.bg {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 50px;
  }
  .menu.homeNav {
    z-index: 4;
    position: fixed;
    visibility: hidden;
    display: block;
    width: 60vw;
    height: 66%;
    top: 50px;
    left: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    &.visible {

      visibility: visible;

    }
  }

  .bg.visible {
    z-index: 2;
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: block;
    background-color: white;
    top: 0; left: 0;
    overflow: hidden;
    opacity: 0;
  }

  .hover-nav {
    z-index: 3;
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #ffffff;

    .nav-title {
      height: 50px;
      right: 0;
      position: absolute;
      font-size: large;
      font-weight: bold;
      span {
        margin-top: 3px;
      }
    }

    .nav-menu {
      box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.18);
      left: 0;
      .menu-btn {
        display: block;
        height: 50px;
        width: 50px;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
